<template name="addCards">
    <form class="main form">
        <div class="form-group">
            <label class="control-label" for="deck">Deck</label>
            <select name="deckName" class="form-control">
                {{#each decks}}
                <option value="{{name}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="front">Front</label>
            <div>
                <textarea name="front" placeholder="Question here" class="form-control"></textarea>
            </div>
            <div class="checkbox">
                <label>
                    <input name="frontIsCode" type="checkbox" checked /> Highlight syntax
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="back">Back</label>
            <div>
                <textarea name="back" placeholder="Answer here" class="form-control"></textarea>
            </div>
            <div class="checkbox">
                <label>
                    <input name="backIsCode" type="checkbox" checked /> Highlight syntax
                </label>
            </div>
        </div>

        <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>
</template>