<template name="deckList">

    {{#each decks}}
    <div class="card">
            <div class="card-content">
                <h2 class="{{_id}}">{{name}}</h2>
                <span class="top-right edit-btn"><a href="">Edit</a></span>
                <span class="bottom-right {{_id}}">Total {{cardsCount}} cards</span>
                <form class="form-inline hide edit-deckname {{_id}}">
                    <input type="text" name="deckName" value="{{name}}" class="form-control"/>
                    <input type="submit" value="Save" class="btn btn-primary"/>
                </form>
                {{#if cardsDue}}
                    <p><a href="{{pathFor 'showCards' name }}">{{cardsDue}} cards to study, yeah buddy!</a></p>
                {{else}}
                    <p>No cards to study right now.</p>
                {{/if}}
                <div class="hide {{_id}}">{{> deleteDeckButton }}</div>
            </div>
    </div>
    {{/each}}

    <button id="create-btn" class="btn btn-primary">Create New Deck</button>

    <form class="main form hide add-deck">
        <div class="form-group">
            <label class="control-label" for="front">Name for deck</label>
            <div>
                <input id="deck-name" type="text" name="deckName" placeholder="Name" class="form-control"/>
            </div>
            <br>
            <input id="add-btn" type="submit" value="Add" class="btn btn-primary"/>
            <button id="cancel-btn" class="btn btn-danger">Cancel</button>
        </div>
    </form>

</template>