<template name="header">
        <div class="status-bar-background"></div>
        <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <img src="/img/statusbar_logo.jpg" alt="Downloaded from http://www.visualpharm.com">
              <p class="navbar-brand">Olifant</p>
            </div>

            <!-- Collect the nav links for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li role="presentation" id="logout" class="pull-right"><a href="{{pathFor 'loginPage'}}">Logout</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
                  {{#if currentUser}}
            <div class="card-content">
                <ul class="nav nav-tabs nav-justified">
                    <li role="presentation" class="{{#if isCurrentPage 'decks'}}active{{/if}} {{#if isCurrentPage ''}}active{{/if}}"><a href="{{pathFor 'deckList'}}">Decks</a></li>
                    <li role="presentation" class="{{#if isCurrentPage 'add'}}active{{/if}}"><a href="{{pathFor 'addCards'}}">Add</a></li>
                    <li role="presentation" class="{{#if isCurrentPage 'browse'}}active{{/if}}"><a href="{{pathFor 'browse'}}">Browse</a></li>
                    
                </ul>
            </div>
        {{/if}}

    </nav>
</template>